h1=predmet.naziv

table
  tr
    th='Broj Indexa'
    th='Student'
    th='Kolokvijum 1'
    th='Kolokvijum 2'
    th='ukupno'
  - for( var i=0; i < 60; i++)
    tr
      td='222'
      td='Paja Pajovic'
      td='24'
      td='10'
      td='34'
